webserverSecretKey: "CHANGE_ME_32_CHAR_HEX_STRING"

webserver:
  defaultUser:
    enabled: true
    username: airflow
    password: CHANGE_ME

postgresql:
  auth:
    postgresPassword: CHANGE_ME
    password: CHANGE_ME
